@model ContentTreeSettingsViewModel

@if (Model.ContentTreePresets.Any())
{
    <fieldset class="form-group" asp-validation-class-for="ContentTreePreset">
        <label asp-for="ContentTreePreset">@T["Default content tree preset"]
            <span asp-validation-for="ContentTreePreset"></span>
        </label>
        <select asp-for="ContentTreePreset" class="form-control">
            <option value="0" selected="@(Model.ContentTreePreset == 0)">
                @T["None"]
            </option>
            @foreach (var preset in Model.ContentTreePresets)
            {
                <option value="@preset.Key" selected="@(Model.ContentTreePreset == preset.Key)">
                    @preset.Key  @preset.Value
                </option>
            }
        </select>
</fieldset>
}
else
{
    <div class="alert alert-warning">@T["You need to create at least a content tree preset."]</div>
}
