@model DummyLinkTreeNodeViewModel

<h5>@T["Dummy Link"]</h5>

<div class="form-group" asp-validation-class-for="LinkText">
    <label asp-for="LinkText">@T["Link Text"] <span asp-validation-for="LinkText"></span></label>
    <input asp-for="LinkText" class="form-control" />
    <span class="hint">@T["The Link Text as it will be shown in the tree."]</span>
</div>

<div class="form-group">
    <label asp-for="LinkUrl">@T["Link Url"]</label>
    <code><textarea asp-for="LinkUrl" class="form-control"></textarea></code>
    <span class="hint">@T["The url of the link."]</span>
</div>
