@model ShapeViewModel<ListsTreeNode>
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

@{
    var contentTypes = Model.Value.ContentTypes;
    var enabled = Model.Value.Enabled;
}

<h5 class="@(enabled ? "" : "text-muted")">
    @T["Content Types With a List Part"]
    @if (enabled == false)
    {
        <span class="text-muted font-italic">(@T["Disabled"])</span>
    }
</h5>
@if (contentTypes != null && contentTypes.Length > 0)
{
    @foreach (var contentTypeDefinition in ContentDefinitionManager.ListTypeDefinitions())
    {
        if (contentTypes.Contains(contentTypeDefinition.Name))
        {
            <span class="badge badge-info">@contentTypeDefinition.DisplayName</span>
        }
    }
}
else
{
    <span class="badge badge-warning">@T["Nothing here!"]</span>
}